<!doctype html>
<!index.html>

{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
Tervetuloa keskustelusovellukseen!<br>
{% if session.user_id %}
Olet kirjautuneena sisään nimellä {{ session.username }}. <br>

<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<hr>
<h2>Keskustelualueet</h2>
{% for category in list %}
<h3><a href="/{{ category[0] }}">{{ category[1] }}</a></h3>
<p>
{{ category[2] }}
<hr>
{% endfor %}
Sovellukseen rekisteröityneitä käyttäjiä {{count_users}}.<br>
Viestejä yhteensä {{count_messages}}.

{% endblock %}
