<!login.html>
<!doctype html>

{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}
<h3>Kirjautuminen</h3><br>
<p>
{% if session.username %}
<p>Olet kirjautunut nimellä {{session.username}}</p>
<a href="/logout"> Kirjaudu ulos</a>
{% else %}
Kirjaudu sisään keskustelusovellukseen.
<p>
<form action="/login" method="post">
Tunnus: <input type="text" name="name">
<p>
Salasana: <input type="password" name="password">
<p>
<input type="submit" value="Kirjaudu">
</form>
<p>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>

{% endif %}


{% endblock %}

