<!doctype html>
<!messages.html>

{% extends "layout.html" %}
{% block title %}Viestit aiheesta {{thread_name}} {% endblock %}

{% block content %}

<h2>Keskustelualue: {{category_name}} <p> Viestit aiheesta: {{thread_name}}</h2>
{% for message in list %}
<hr>
<b>Kirjoittaja:{{message[1]}} </b><p>
<b>Aika:</b> {{message[2]}} <p>
<b>Viesti:</b><br> {{ message[0] }}
<p>
Käyttäjä voi editoida tai poistaa oman viestinsä painamalla <a href="/{{category_id}}/{{thread_id}}/{{ message[3] }}">tästä</a>
{% endfor %}
<hr>
<form method="POST">
Kirjoita oma viestisi tähän ketjuun:
<p>
<textarea name="content" rows="5" cols="50"></textarea>
<p>
<input type="submit" value="Lähetä">
</form>
{% endblock %}


