<!doctype html>
<!register.html>

{% extends "layout.html" %}
{% block title %}Rekisteröityminen keskustelusovellukseen{% endblock %}
{% block content %}
<h3> Rekisteröityminen keskustelusovellukseen </h3>
<p>
Huomioithan että tunnuksen on oltava vähintään 3 merkkiä ja enintään 20 merkkiä pitkä
<p>
<form action="/register" method="post">
Tunnus: <input type="text" name="name">
<p>
Salasana: <input type="password" name="password">
<p>
<input type="submit" value="Luo tunnus">
</form>

{% endblock %}

